
/****************************/
/**********  NAV   **********/
/**********        **********/

nav i{
    display: inline-block;
    width: 100%; 
    text-align: center;
}  

@media screen and (max-width:989px) {
    
    nav i{    
        text-align: center;
        width: 40px;
    }

    nav p{
        display: inline-block;
        vertical-align: middle;
        margin-left: 15px;
    }
}

/**********        **********/
/**********  NAV   **********/
/****************************/

/****************************/
/**********  MAIN  **********/
/**********        **********/


/***** CATEGORY, PROSPECT AND CLIENTS TABLES  *******/
/*****                                        *******/

main table i{
    color: #919495;
}

main table a:hover i{
    color: #c5b89a;
}

.iconspacer {
    display: inline-block;
    width: 5px;
}

/* Columns width in wide format */
@media screen and (min-width:990px) {

    .hometables #namecolumn {width: 12%;}
    .hometables #familynamecolumn {width: 12%;}
    .hometables #adresscolumn {width: 20%;}
    .hometables #postcodecolumn {width: 5%;}
    .hometables #citycolumn {width: 15%}
    .hometables #commentcolumn {width: 35%;}
    .hometables #emptycolumn {width: 1%;}
    
    #categorylist #namecolumn {width: 15%;}
    #categorylist #commentcolumn {width: 75%;}
    #categorylist #buttonscolumn {width: 10%;}  
    
    #prospectnclientlist #namecolumn {width: 12%;}
    #prospectnclientlist #familynamecolumn {width: 12%;}
    #prospectnclientlist #adresscolumn {width: 15%;}
    #prospectnclientlist #postcodecolumn {width: 5%;}
    #prospectnclientlist #citycolumn {width: 15%}
    #prospectnclientlist #commentcolumn {width: 30%;}
    #prospectnclientlist #buttonscolumn {width: 10%;}    
}

/* Shared tables caracteristics is mobile format */
@media screen and (max-width:989px) {

	/* Force table to not be like tables anymore */
	.crmtables table,
    .crmtables thead,
    .crmtables tbody,
    .crmtables th,
    .crmtables td,
    .crmtables tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.crmtables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.crmtables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #e9ecef; 
		position: relative;
		padding-left: 150px;
	}
	   /* Take make sure the comment row doesn't go flat when empty */
    #categorylist td:nth-of-type(2), .crmtables td:nth-of-type(6) {
        min-height: 48px;
    }
    
	.crmtables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0px;
		left: 0px;
		width: 125px;
        height: 100%;
		padding: 10px; 
		white-space: nowrap;
        background-color: #e9ecef;
        font-weight: bold;
        color: #495057;
	}
    
    /* Bottom of pseudo-headers column fading */    
    .crmtables td:last-of-type:before {
        background: linear-gradient(to bottom, #e9ecef, transparent);
    }
    
    /* EDIT and DELETE icons position*/
    .crmtables .editdeleteicons { 
        border-bottom: 1px solid transparent;
        padding-top: 10px;
        padding-left: 25px;
        margin-bottom: 20px;
    }
    
    /* EDIT and DELETE links z-index over the pseudo-headers column */
    .crmtables .editdeleteicons a {
        position: relative;
        z-index: 10;
    }
    
    /* Home propect and clients list data labels	*/
	.hometables td:nth-of-type(1):before { content: "Nom"; }
	.hometables td:nth-of-type(2):before { content: "Prénom"; }
	.hometables td:nth-of-type(3):before { content: "Adresse"; }
	.hometables td:nth-of-type(4):before { content: "Code Postal"; }
	.hometables td:nth-of-type(5):before { content: "Ville"; }
	.hometables td:nth-of-type(6):before { content: "Commentaire"; }
    .hometables td:nth-of-type(7):before { content: "";}
    
	/* Category list data labels */
	#categorylist td:nth-of-type(1):before { content: "Nom"; }
	#categorylist td:nth-of-type(2):before { content: "Commentaire"; }
    #categorylist td:nth-of-type(3):before { content: ""; } 
    
    /* Propect and clients list data labels	*/
	#prospectnclientlist td:nth-of-type(1):before { content: "Nom"; }
	#prospectnclientlist td:nth-of-type(2):before { content: "Prénom"; }
	#prospectnclientlist td:nth-of-type(3):before { content: "Adresse"; }
	#prospectnclientlist td:nth-of-type(4):before { content: "Code Postal"; }
	#prospectnclientlist td:nth-of-type(5):before { content: "Ville"; }
	#prospectnclientlist td:nth-of-type(6):before { content: "Commentaire"; }
    #prospectnclientlist td:nth-of-type(7):before { content: ""; }
    
}    

/*****                                        *******/
/***** CATEGORY, PROSPECT AND CLIENTS TABLES  *******/


/***** FORMS  *******/
/*****        *******/

/* Shared tables caracteristics is mobile format */

@media screen and (min-width:990px) {

    #formdefault {
        max-width: 75%;
        margin: auto;
    }
}

/*****        *******/
/***** FORMS  *******/


/**********        **********/
/**********  MAIN  **********/
/****************************/

/****************************/
/********** FOOTER **********/
/**********        **********/

footer {
   padding: 60px; 
}

footer h5 {
    padding-left: 10px;
    border-left: 3px solid #919495;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #919495;
}

footer li {
    color: #919495;
}

footer li:hover a{
    color: #c5b89a;
}

footer a {
    color: #919495;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.footer-links ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.footer-links ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;    
}

.footer-links ul.quick-links li a i {
    margin-right: 5px;
}

.footer-links ul.quick-links li:hover a i {
    font-weight: 700;
}

/**********        **********/
/********** FOOTER **********/
/****************************/